  *{
      box-sizing: border-box;
      font-family: Arial, Helvetica, sans-serif;
    }
    body{
            background: linear-gradient(to right,#00f5a0,#00d9ff);
            padding: 40px;
        }

        .food{
            width: 90%;
            margin:auto; 
            /* margin: 20px; */
            background: #f5f5f5;
            padding: 35px 60px;
        }
        header{
            display: flex;
            gap:50px;
            align-items: center;
        }

        .logo{
            display: flex;
            align-items:center;
            gap: 10px;
        }

        .logo img{
            width:40px;
            height: 30px;
        }

        nav{
            display: flex;
            gap: 35px;
        }

        nav a{
            text-decoration: none;
            color: black;
            font-size: 16px;
        }

        .buttons{
            display: flex;
            gap: 15px;
        }

        .sign-btn{
            padding: 10px 25px;
            border: 1px solid black;
            border-radius: 25px;
            background: white;
        }

        .login-btn{
            padding: 10px 25px;
            border: none;
            border-radius: 25px;
            background: #f4b942;
        }

        .header1{
            display: flex;
            gap:100px;
            align-items: center;
            margin-top: 70px;
        }

        .header1-text{
            width: 40%;
        }

        .header1 h1{
            font-size: 42px;
            line-height: 1.4;
            margin-bottom: 20px;
        }

        .header1 p{
            color: #555;
            line-height: 1.6;
            margin-bottom: 30px;
        }

        .order-btn{
            padding: 15px 30px;
            border: none;
             border-radius: 15px; 
            background: #f4b942;
            font-size: 16px;
        }

        .menu{
            width: 45%;
            position: relative;
            height: 400px;
        }
        .foods{
           width: 320px;
          height: 320px;
          background: #f4a460;
          border-radius: 50%;
          position: absolute;
          right: 10px; 
          
        }

        .menufood{
            width:250px;
            height:250px;
            border-radius:50%;
            background: #f4a460;
            position:relative;
            border:10px solid #fff;
            top: 20px;
            right: 60px;
        }
        

        .menu-food1{
            width: 260px;
            height: 260px;
            border-radius:50%;
         position: absolute;
            top:50px;
            right: 80px;
        }
         .food1,
         .food2,
         .food3,
         .food4{
            width:100px;
            height: 100px;
            border-radius: 50%;
            position: absolute;
            border: 2px solid white;
        }
        .food1{
            top:2px;
            right: 120px;
        }
        .food2{
            top:70px;
            right: 2px;
        }
        .food3{
            bottom: 10px;
            right: 100px;
        }
        .food4{
            top: 25px;
            /* right:100px; */
            right:250px;
        }

        .menu1{
            display: flex;
            gap: 100px;
            align-items: center;
        }

        .menu-text h2{
            margin-bottom: 15px;
            
        }

        .menu-text p{
            color: #555;
            font-weight: 15px;
            font-size: 20px;
            
        }

        .menu-buttons{
            display: flex;
            gap: 15px;
        }

        .menu-buttons button{
            padding: 12px 28px;
            border-radius: 25px;
            border: 1px solid black;
            background: white;
            
        }

        .menu-buttons .a{
            background: #f4b942;
            border: none;
        }

       

        .food-items1{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
            margin-top: 50px;
        }

        .items-food{
            width: 23%;
            background: white;
        }

        .items-food img{
            width: 100%;
            height: 180px;
        }

        .items-food h3{
            margin-top: 15px;
            margin-bottom: 10px;
        }

        .items-food p{
            color: #444;
        }

        nav a:hover{
            
            color: #f4b942;
        }

       
        