/* *{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#fff;
}



header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 40px;
    border-bottom:1px solid #ddd;
}

.logo img{
    width:60px;
}

.left-menu{
    display:flex;
    gap:40px;
    margin-left:30px;
    flex:1;
}

.left-menu a{
    text-decoration:none;
    color:#000;
    font-size:18px;
    font-weight:bold;
    letter-spacing:1px;
}

.right-menu{
    display:flex;
    align-items:center;
    gap:20px;
}

.right-menu a{
    text-decoration:none;
    color:#000;
    font-weight:bold;
}

.sign-btn{
    padding:10px 22px;
    border-radius:30px;
    border:1px solid #000;
    background:#fff;
    font-weight:bold;
    cursor:pointer;
}

.join-btn{
    padding:10px 22px;
    border-radius:30px;
    border:none;
    background:#000;
    color:#fff;
    font-weight:bold;
    cursor:pointer;
}

.nav{
    display:flex;
    gap:40px;
    padding:18px 150px;
    border-bottom:1px solid #ddd;
}

.nav a{
    text-decoration:none;
    color:#000;
    font-size:20px;
}

.nav .active{
    border-bottom:3px solid green;
    padding-bottom:12px;
}




.menu{
    display:flex;
    width:85%;
    margin:50px auto;
}
.leftside-content{
    width:260px;
}

.leftside-content h2{
    margin-bottom:20px;
    font-size:22px;
}

.leftside-content a{
    display:block;
    text-decoration:none;
    color:#666;
    margin-bottom:30px;
    font-size:18px;
}

.leftside-content h2:not(:first-child){
    margin-top:30px;
}
.content{
    flex:1;
    padding-left:70px;
}

.content h1{
    font-size:55px;
    margin-bottom:60px;
}

.content h2{
    font-size:42px;
    margin-bottom:20px;
}

.content hr{
    border:none;
    border-top:1px solid #ddd;
    margin-bottom:50px;
}




.cards{
    display:flex;
    justify-content:space-between;
    gap:80px;
}

.card{
    display:flex;
    align-items:center;
    gap:25px;
}

.card img{
    width:170px;
    height:170px;
    border-radius:50%;
    object-fit:cover;
    background:#0b3b32;
}

.card h3{
    font-size:36px;
    font-weight:500;
}




@media(max-width:992px){

header{
    flex-wrap:wrap;
}

.container{
    flex-direction:column;
}

.sidebar{
    width:100%;
    margin-bottom:40px;
}

.content{
    padding-left:0;
}

.cards{
    flex-direction:column;
}

.sub-nav{
    padding:15px 30px;
}

}  */